* {
  margin-top: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  display:flex;
  position: fixed;
<<<<<<< HEAD
  background-image: url("/Welcome\ to.png");
  object-fit: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

=======
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background: cadetblue;
>>>>>>> main
}

.logo img{
  height: 20vh;
}

header {
<<<<<<< HEAD
=======
  justify-content: center;
>>>>>>> main
  display: flex;
  flex-direction: row;
}

<<<<<<< HEAD
nav ul{
=======
ul {
>>>>>>> main
  display: flex;
  flex-direction: row;
}

<<<<<<< HEAD
nav ul li {
  margin-top: 8vh;
  margin-left: 8vh;
  list-style-type: none;
=======
ul li {
  list-style-type: none;
  margin-top: 9vh;
  margin-left: 12vh;
}


footer {
  display: block;
  position:fixed;
  margin-top: 95vh;
>>>>>>> main
}